<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

    <display-name>YourWebAppName</display-name>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.ecommerce.controllers.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.ecommerce.controllers.ProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.ecommerce.filters.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/inventory.jsp</url-pattern>
    </filter-mapping>

</web-app>
